<html>
<head>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://cdn.socket.io/4.2.0/socket.io.min.js" integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj" crossorigin="anonymous"></script>
	<meta charset="utf-8">
</head>
<body>

<div id="app">
	<h3>Real: <input type="number" v-model="center_r">
	Imaginary: <input type="number" v-model="center_i">
	Radius: <input type="number" v-model="radius">
	Progress: {{ prog }}
	<button @click="send">send</button></h3>
	<img :src="image" v-if="b64img.length > 0">
	
</div>

<script>
const APP = {
	data () {
		return {
			raw_prog: 0,
			b64img: "",
			center_r: -0.5,
			center_i: 0,
			radius: 1,
		}
	},
	computed: {
		image () {
			return "data:image/png;base64," + this.b64img
		},
		prog () { return Math.trunc(this.raw_prog*100) + "%" }
	},
	methods: {
		send () {
			this.raw_prog = 0;
			const socket = io.connect('http://localhost:5000');
			socket.emit('send_task',{
				real: this.center_r,
				imaginary: this.center_i,
				radius: this.radius
			});
			socket.on('server_reponse', data => {
				this.raw_prog = data.prog;
				this.b64img = data.img;
            })
		},
	},
};

const app = Vue.createApp(APP)
app.mount('#app')
</script>

</body>
</html>